---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/song/identify?api_key=QQZAT4LNJLUGLMAZ5&code=1234&format=json&version=4.12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 2902a:21242
      X-Ratelimit-Remaining:
      - '119'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - QQZAT4LNJLUGLMAZ5
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "songs": []}}'
  recorded_at: Mon, 23 Dec 2013 06:22:20 GMT
recorded_with: VCR 2.8.0
